@import './globalStyles.css';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/* Esta parte pertenece al encabezado */

.header {
    display: flex;
    padding: 2rem;
}

.line{
    height: 0.6rem;
    background-color: var(--boring-color);
    opacity: 0.67;
    margin-top: 0.2rem;
    box-shadow: 0 0.4rem 0.4rem 0 #B0AFAB;
}

.header__login{
    margin-left: auto;
}

.header__login img:hover{
    background-color: #eeecec;
}

/* Esta parte pertenece al cuerpo */

.content{
    padding: 3rem;
    font-family: cursive;
    font-weight: bold;
    font-size: 4rem;
}

/* Esta parte pertenece al pie de pagina */

.footer{
    width: 100%;
    bottom: 0;
    background-color: var(--dark-color);
}

.footer__absolute{
    text-align: center;
    padding: 4rem 0 1rem 0;
}

.footer__main-container {
    display: flex;
    justify-content: space-around;
}

.footer__main-container__data1{
    padding-top: 2rem;
    line-height: 2;
}

.footer__main-container__data1 img {
    padding-right: 0.2rem;
}

.footer__main-container__data1__list{
    display: flex;
    flex-direction: column;
}

.footer__main-container__data2{
    padding-top: 2rem;
    text-align: justify;
    width: 35%;
}

/* Aca se definen los estilos de texto */

.text__small__light{
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    color: var(--light-color);
}

.text__small__light__special{
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: var(--light-color);
    font-weight: bold;
}

/* Aca vienen los breakpoints */

@media screen and (min-width:1200px) {
    
    /* Todo este break point pertenece solo a pie de pagina */

    .footer__main-container {
        display: block;
        justify-content: center;
        text-align: center;
    }
    
    .footer__main-container__data1__list{
       display: block;
        justify-content: center;
    }

    .footer__main-container__data2{
        text-align: center;
        width: 100%;
     }

    .footer__absolute{
        text-align: center;
        padding: 3rem 0rem 1rem 0rem;
    }

    a{
        padding: 1rem;
    }

    p {
        padding-top: 0.5rem;
    }
}
