@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Fjalla+One&display=swap');
@import "./head-foot.css";
@import "./globalStyles.css";

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  overflow-wrap: anywhere;
  line-break: strict;
}

html {
  font-size: 62.5%;
}
.container__login{
  display: grid;
  text-align:center;
  margin: 2rem 0 3rem 0;
  padding: 0 3rem 0 3rem;
}
/*Estilos para mensaje de bienvenida a interfaz LogIn #325D88*/
.title__login{
color: var(--sucess-color);
font-family: var(--principal-font);
font-size: 3rem;
font-weight: normal;
margin-top: 2.6rem;
}
.container__welcome_login{
  color: var(--boring-color);
  font-size: 1.6rem;
  font-family: var(--secondary-font);
}
.welcome__login{
 margin: 0 0 7px 0;
}
.footer__welcome__login{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.cite__welcome__login{
  grid-column: 2/3;
}
/*Estilos para ingresar datos a la interfaz LogIn*/
.container__login__data{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0 2rem 0;
}
.login__data{
  padding: 1rem;
  background: rgba(41, 171, 224, 0.08);
  border-radius: 3px;
  border: 0;  
  font-family: var(--secondary-font); 
  font-size: var(--secondarey-font-size); 
}
.login__data::placeholder{
  font-family: var(--secondary-font); 
  font-size: var(--secondarey-font-size); 
}
.btn__login__data{
  padding: 1rem;  
  background: var(--principal-color);
  border-radius: 3px;
  border: 0;
  color: var(--light-color);
  font-weight: bold;
  font-family: var(--secondary-font);
  font-size: var(--secondarey-font-size);
}
.forgot__password{
  text-decoration: none;
  font-size: 1.6rem;
  font-family: var(--secondary-font);
  color: #325D88;
  text-align: end;
  
}
/*Estilos de separador linea*/
.line__left__login{
  grid-area: lineleft;
  background: #79777052;
  height: 1px;
  align-self : center;
}
.line__right__login{
  grid-area: lineright;
  background: #79777052;
  height: 1px;
  align-self : center;
}

.container__line__login{
display: grid;
grid-template-areas: "lineleft . lineright";
}
.others__login{
  font-family: var(--secondary-font);
  font-size: var(--secondarey-font-size);
  color: var(--dark-color);
}
/*Estilos btn rrss linea*/
.container__rrss__login{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0 2rem 0;  
}
.container__btngoogle__login{
  border:2px solid var(--boring-color);
  border-radius: 3px;
  padding: 1rem;  
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}
.btn__google__login{
  font-family: var(--secondary-font);
  font-size: var(--secondarey-font-size);
  font-weight: bold;
  color:var(--dark-color);
  border:0;
  background: #FFFFFF;
  justify-self: start;
  margin-left: 20px;
}
.icon__google__login{
  height: 25px;
  margin-left: 50px;  
}
.container__btnfacebook__login{
  background: var(--secondary-color);
  border-radius: 3px;
  padding: 1rem;  
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.btn__facebook__login{
  font-family: var(--secondary-font);
  font-size: var(--secondarey-font-size);
  font-weight: bold;
  color:var(--light-color);
  border:0;
  background: var(--secondary-color);
  justify-self: start;
  margin-left: 20px;
}
.icon__facebook__login{
  height: 25px;
  margin-left: 50px;  
}
.container__btngitgub__login{
  background: var(--dark-color);
  border-radius: 3px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.btn__github__login{
  font-family: var(--secondary-font);
  font-size: var(--secondarey-font-size);
  font-weight: bold;
  color:var(--light-color);
  border:0;
  background: var(--dark-color);
  justify-self: start;
  margin-left: 20px;
}
.icon__gitgub_login{
  height: 25px;
  margin-left: 50px; 
}
.option__register{
  font-family: var(--secondary-font);
  color: var(--dark-color);
  font-size: 1.6rem;
  text-align: end;
}
.link__option__register{
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.6rem;
}

/* tabletas */
@media (min-width: 768px) {
  .container__login{
    padding: 0 9rem 0 9rem;
  }
.title__login{
  font-size:var(--principal-font-size); 
}
.container__welcome_login{
  font-size: var(--secondarey-font-size);
}
.footer__welcome__login{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.cite__welcome__login{
  justify-self: end;
}
.login__data{
  text-align: start;
}
.container__btngoogle__login{
  grid-area: btn-google;
}
.container__btnfacebook__login{
  grid-area: btn-facebook;
}
.container__btngitgub__login{
  grid-area: btn-github;
}
.option__register{
  grid-area: text-regist;
}

.container__rrss__login{
  display: grid;
  grid-template-areas: "btn-google btn-facebook btn-github"
                        ". text-regist text-regist";
}
.remove__margin__login{
  margin: 0;
  justify-self: center;
}
}
/* escritorio normales */
@media (min-width: 992px) {
  .container__login{
    padding: 0 27rem 0 27rem;
  }
  .welcome__login br{
    display: none;
  }
}
/* pantallas grandes */
@media (min-width: 1200px) {
  .container__login{
    padding: 0 27rem 0 27rem;
  }
}