/* Este será el archivo donde se almacenan los estilos principales
Por ahora solo incluimos textos segun relevancia y colores para objetos segun relevancia */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');

.principal{
    color: #29ABE0;
}

.secondary{
    color: #325D88;
}

.success{
    color: #93C54B;
}

.alert{
    color: #D9534F;
}

.boring{
    color: #797770;
}

.dark{
    color: #3E3F3A;
}

.light{
    color: #EFEFEF;
}

.warning{
    color: #F47C3C;
}

.title__principal{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #29ABE0;
}

.title__secondary{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #325D88;
}

.title__success{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #93C54B;
}

.title__alert{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #D9534F;
}

.title__boring{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #797770;
}

.title__dark{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #3E3F3A;
}

.title__light{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #EFEFEF;
}

.title__warning{
    font-family: 'Fjalla One';
    font-size: 36px;
    color: #F47C3C;
}

.text__principal{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #29ABE0;
}

.text__secondary{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #325D88;
}

.text__success{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #93C54B;
}

.text__alert{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #D9534F;
}

.text__boring{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #797770;
}

.text__dark{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #3E3F3A;
}

.text__light{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #EFEFEF;
}

.text__warning{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #F47C3C;
}

.text__small__principal{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #29ABE0;
}

.text__small__secondary{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #325D88;
}

.text__small__success{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #93C54B;
}

.text__small__alert{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #D9534F;
}

.text__small__boring{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #797770;
}

.text__small__dark{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #3E3F3A;
}

.text__small__light{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #EFEFEF;
}

.text__small__warning{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    color: #F47C3C;
}

a {
    text-decoration: none;
    color: inherit;
}
